body{
background: #070000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #070000, #4C0001, #070000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #070000, #4C0001, #070000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text-center{
	margin: 100px;
}
h1.text-center{
	color: white;
	font-family: fantasy;
}
a{
	color: white;
}
a:hover{
	color: white;
}
.input{
	width: 50%;
	display: flex;	
}
.form-control{
	width: inherit;
}
.btn{
	width: inherit;
	
}
.jumbotron{
	border-radius: 25px;
	color: white;
	background: rgba(0,0,0,0.4);
}
center{
	margin-bottom: 50px;
 }
 .random{
 	margin-bottom: 22px;
 	font-family: 'Patrick Hand SC', cursive;
 }
 a.random{
 	font-size: 25px;
 }
#content >.container.jumbotron{
 	font-family: 'Josefin Sans', sans-serif;
 }
.btn-danger{
	 background:rgba(1,0,2,0.2);
}